@use 'variaveis';

.shows {
    margin: 2vw 5.6vw;
    min-height: 30vw;

    &__title {
        text-align: center; 
        color: bisque; 
        margin-top: 10vw;
    }

    @media (max-width: 768px) {
        &__title {
            margin-top: 12px;
            font-size: 28px;
        }
    }

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media (max-width: 768px) {
            &__title {
                margin-top: 12px;
                font-size: 8px;
            }

            grid-template-columns: 1fr 1fr;
        }

        &--active {
            display: grid;

        }

        &__title {
            text-align: center; 
            color: bisque; 
            margin-top: 12px;
            font-size: 14px;
        }
        
        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }
}